body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.table-outer{
    width: 800px;
    height: 450px;
    overflow: auto;

    border: 1px solid gray;
    margin-top: 10px;
}



.main-outer{
    width: 800px;
    height: 450px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top-outer{
    width: 100%;
    height: 50px;
    display: flex;
  

}
.side{
  flex: 1;

  display: flex;
}
.box{
    width: 120px;
    height: 100%;
    border: 1px solid gray;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

    span{
     
        font-size: 30px;
    }
}
.box:first-child{
    margin-right: 20px;
}
.right-outer{
    justify-content: flex-end;
    button{
       width: 150px;
       height: 100%;
       border-radius: 3px;
    }
    button:first-child{
        margin-right: 20px;
    }

}
// middle-outer
.middle-outer{
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    span{
        font-size: 35px;
    }
}
.bottom-outer{
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    input{
        width: 200px;
        height: 50px;

        background: none;
    }
    input:focus{
        outline: none;
    }
    button{
        width: 150px;
        border-radius: 3px;
        margin-top: 50px;
     }
}
