body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.main-outer{
    width: 800px;
    height: 450px;
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
}
.top-outer{
    width: 100%;
    height: 50px;

    display: flex;

}
.side{
  flex: 1;

  display: flex;
}
.box{
    width: 120px;
    height: 100%;
    border: 1px solid gray;
    border-radius: 3px;
}
.box:first-child{
    margin-right: 20px;
}
.right-outer{
    justify-content: flex-end;
    button{
       width: 150px;
       height: 100%;
       border-radius: 3px;
    }
    button:first-child{
        margin-right: 20px;
    }

}
